.button {
    padding: 12px 28px;
    margin: 10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #b31217, #e52d27);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(226, 38, 38, 0.4);
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(226, 38, 38, 0.6);
    background: linear-gradient(135deg, #e52d27, #ff4d4d);
}

.btn-login{
 
     padding: 12px 28px;
    margin: 10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #14b311, #2ae527);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(226, 38, 38, 0.4);
}
.btn-login:hover
{
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(5, 166, 59, 0.6);
    background: linear-gradient(135deg, #0af11d, #61d530);
}


.btn-call{
 
     padding: 12px 28px;
    margin: 10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #115ab3, #257ec7);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(38, 129, 226, 0.4);
}
.btn-call:hover
{
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(5, 26, 166, 0.6);
    background: linear-gradient(135deg, #0af11d, #61d530);
}


.btn-delete{
 
     padding: 12px 28px;
    margin: 10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #14b311, #2ae527);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(226, 38, 38, 0.4);
}
.btn-login:hover
{
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(5, 166, 59, 0.6);
    background: linear-gradient(135deg, #0af11d, #61d530);
}
.primary
{
     padding: 12px 28px;
    margin: 10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #14b311, #2ae527);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(226, 38, 38, 0.4);

}