.navbar {
    background-color: rgb(15, 14, 14);

    color: aliceblue;
    width: 100%;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;             
    position: static;
    gap: 50px;
    display: flex;
    align-items: center;

}
.navbar a {
    color: #f3efef;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.active
{
    background-color: #c80f0f;
    padding: 40px;
    font-size: 50px;

}
body {
  margin: 0;
  padding: 0;
}
